@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'tailwindcss';

/* Reset */
*,
*::before,
*::after {
  box-sizing: initial;
}

body {
  background: #0b0d15;
  font-family: 'Bai Jamjuree', sans-serif;
}

/* Colores personalizados */
.bg-primary {
  background-color: #00ff00;
}

.bg-secondary {
  background-color: #caf0f8;
}

.bg-accent {
  background-color: #00ffea;
}

.text-primary {
  color: #00ff00;
}

.text-secondary {
  color: #caf0f8;
}

.text-accent {
  color: #00ffea;
}
