@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
body,
h1,
h2,
h3,
h4,
p {
  font-family: 'Bai Jamjuree', sans-serif;
}

/* Light */
.light {
  font-weight: 300;
}

/* Light Italic */
.light-italic {
  font-weight: 300;
  font-style: italic;
}

/* Regular */
.regular {
  font-weight: 400;
}

/* Regular Italic */
.regular-italic {
  font-weight: 400;
  font-style: italic;
}

/* SemiBold */
.semibold {
  font-weight: 600;
}

/* SemiBold Italic */
.semibold-italic {
  font-weight: 600;
  font-style: italic;
}

/* Bold */
.bold {
  font-weight: 700;
}

/* Bold Italic */
.bold-italic {
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold */
.extrabold {
  font-weight: 800;
}

/* ExtraBold Italic */
.extrabold-italic {
  font-weight: 800;
  font-style: italic;
}

.card {
  margin: 0 auto;
  padding: 2em;
  width: 300px;
  background: #1c1f2b;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #ff4545
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.card::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
